@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Lato:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */
html {
  font-family: Blinker, Lato, Roboto;
  line-height: 2em;
}

body {
  margin-top: 2em;
  padding: 1em;
}

header {
  font-family: Palette, Masaic;
}

aside {
  display: inline-block;
  margin-top: 3em;
  padding: 2em;
  text-align: : left;
}

nav {
  text-align: left;
}

.product {
  min-width: 4em;
  height: 4em;
}

ol {
  list-style: none;
  margin-top: 0.75em;
  padding: 0.2em;
}

input {
  display: inline-block;
  width: 17em;
  position: relative;
}

label {
  display: inline-block;
  width: 10em;
  padding: 0.2em;
}


li {
  margin-top: 0.5em;
  padding: 0.2em;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

.shipping {
  text-align: center;
}

.payment {
  text-align: center;
}

.checkout {
  text-align: center;
}

footer {
  text-align: center;
  font-size: 0.75em;
  margin-top: 2em;
  padding: 1em;
}

h1 {
  font-size: 1.75em;
  text-align: center;
  margin-top: 1.75em;
  padding: 0.2em;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1.5em;
  padding: 0.5em;
}

form {
  text-align: left;

}
